---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

<p><i>"If you can't explain it to a six-year-old, you don't understand it yourself."</i> ~ Albert Einstein</p>
<p>Teachning is my passion, working with people gives me huge inspiration and motivation.
I teach Mathematics, Computer Science, Programming (Python, C++, Java) and Machine Learning.
I approach each student individually, not only explaining the algorithm of solving a given task, but I also present many examples from life and analogies illustrating a given issue.<br />My offer is:</p>
<ul>
<li>solving math and computer science tasks</li>
<li>preparing for admission tests</li>
<li>IT projects and applications</li>
<li>data analysis and machine learning projects</li>
</ul>
<p>I am tutoring with Artificial Intelligence, Machine Learning and Neural Networks. If you know the basics of programming and statistics, I will help you enter the world of AI.</p>

Below you can find a list of courses and materials that are available online. If you are interested in one of the topics don't hesitate to contact me.

{% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}
